/* Main
-------------------------------------------------------- */
html {
	overflow-y: scroll;
}

html, body {
	height: 100%;
}

body {
	font-family: 'Source Sans Pro', sans-serif;
  background: #F2F2F2;
  font-size: 1.3em;
}

h1, h2, h3, h4, h5, h6{
  font-family: 'Varela Round', sans-serif;
}

p {
  color: #707070;
}

a, a:focus, a:hover {
	color: #235A9F;
	outline: none;
	text-decoration: none;
}

.img-responsive {
  margin: 0 0 1em;
}

.btn {
  border-radius: 2px;
}

/* PACE 
-------------------------------------------------------- */
.pace .pace-progress {
  background: #29d;
  position: fixed;
  z-index: 2000;
  top: 0;
  left: 0;
  height: 2px;
  -webkit-transition: width 1s;
  -moz-transition: width 1s;
  -o-transition: width 1s;
  transition: width 1s;
}

.pace-inactive {
  display: none;
}

/* Primary 
-------------------------------------------------------- */
#primary {
  margin: 0 auto;
}

.header {
  height: 50px;
}

/*.site-title {
  font-size: 4em;
  font-weight: 700;
  letter-spacing: 0.03em;

  display: block;
  background: #235A9F;

}
.site-title a {
  color: #fff;
}*/

.site-title,
.site-description {
  margin: 0;
}

/* Content */
.content {
  margin: 2.8em auto;
  max-width: 860px;
}

.content-head {
  color: #aaa;
  border-bottom: 1px solid #eee;
  padding: 0.4em 0;
  font-size: 1.3em;
  font-weight: 500;
  letter-spacing: 0.08em;
  text-transform: uppercase;
}

/* Post */
.post, .comments {
  background: #fff;
  border-radius: 3px;
  box-shadow: 0px 1px 1px #aaa;
  padding: 3em;
  margin: 2em auto;
}

.entry-title {
  color: #222;
  font-size: 1.8em;
  margin: 0 0 0.2em;
}

.entry-title a {
  color: #222;
}

.entry-avatar {
  border-radius: 50%;
  float: right;
  margin-left: 1em;
}

.entry-description {
  color: #344151;
  font-family: "Source Sans Pro",sans-serif;
  font-size: 1.15em;
  font-weight: 400;
  letter-spacing: 0.01em;
  line-height: 1.5em;
}

.entry-meta {
  color: #999;
  font-size: 90%;
  margin: 0 0 1.8em;
}

/* Footer */
.footer {
  margin: 0 auto;
  padding: 1em;
  border-top: 1px solid #DBDBDB;
}

.footer p {
  color: #aaa;
  font-size: 90%;
  text-align: center;
  text-transform: uppercase;
}

/* Secondary 
-------------------------------------------------------- */
#secondary {
  display: none;
}

/* Sidebar */
.sidebar {
  background: #1C171E;
	height: 100%;
	position: fixed;
  right: 0;
}

.sidebar aside {
  color: #C1C0C0;
  margin: 2em 1em;
}

.sidebar aside p {
  font-size: 1.1em;
}

.sidebar aside h4 {
  color: #fff;
}

.sidebar aside div {
  margin: 2em 0;
}

.sidebar ul {
	margin: 0.6em 0;
	padding: 0;
	list-style: none;
}

.sidebar ul li {
	display: inline-block;
}

.sidebar ul li a {
	font-size: 0.8em;
}

/* Socials 
-------------------------------------------------------- */
.socials-sidebar a {
  background-color: #000;
  border-color: #000;
  margin: 3px;
  width: 38px;
}

.socials-footer {
  text-align: center;
}

.socials-footer a {
  display: inline-block;
  background-color: #D3D3D3;
  border-color: #D3D3D3;
  margin: 4px;
  width: 38px;
}

/* Responsive styles */
@media (max-width: 767px) {

	#secondary {
		height: auto;
		position: relative;
    margin: 0;
    padding: 0;
    display: inline-block;
	}

}